html, body{
	font-family: sans-serif;
	
}
header{
	background-color: #990000;
	padding: 80px;
	text-align: center;
}
h1{
	font-size: 90px;
	color: white; 
}
header img{
	border-radius: 174px;
	width: 370px;
	border: 10px solid #3939ac;
}
.content{
	max-width: 900px;
	margin: 0 auto;
}
img.big-image{
	max-width: 100%;
}
p.caption{
	font-size: 16px;
	color: #3939ac;
	font-family: italic;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
ol{
	list-style: none;
	padding:0;
	margin:0;
}
a{
	color: red;
	text-decoration: none;
}
footer{
	padding: 40px 20px;
	background-color: #3939ac;
}
footer ul li{
	display: inline;
}
footer ul{
	text-align: center;
}